/*  navigation bar add background color */
nav{ 
    background-color: rgb(49, 46, 46);
    overflow: hidden;

}
.navbar{
    display: flex;
    flex-direction:column;

}

.navbar-nav{
    margin:5px;
    padding-left: 5px;
}

.navbar-nav li{
    float: right;
    list-style: none;
  
}

/* Style links inside of navigation bar*/
.nav-link{
   color:whitesmoke;
   text-decoration: none;  
   padding-right:7px;
}
/* Change color of links on hover */
.nav-link:hover{
    background-color: teal;
    color:black;
}